<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Cetea</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://apis.google.com/js/client:platform.js?onload=initoauth" async defer></script>
    <script>
      function initoauth() {
        gapi.load('auth2', () => {
          const options = {
            client_id: {{.ClientId}}
            // Scopes to request in addition to 'profile' and 'email'
            //scope: 'additional_scope'
          };
          auth2 = gapi.auth2.init(options);
        });
      }
    </script>
    <script src="static/script.js"></script>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <div id="header">
      <div id="top-bar">
        <div id="top-bar-spacer"></div>
        <div id="top-bar-right">
          <i class="material-icons topnav-button" title="Search">search</i>
          <i class="material-icons topnav-button" title="Dark mode">brightness_4</i>
          <i class="material-icons topnav-button" title="Products">apps</i>
          <a id="login-button">Sign in</a>
        </div>
      </div>
      <div id="second-bar">
        <ul>
          <li>All</li>
          <li>Images</li>
          <li>Woosh</li>
        </ul>
      </div>
    </div>
    <div id="main">
      <div id="sidenav" class="hidden">
        <div id="sidenav-header">
          <div id="sidenav-header-title">Projects</div>
          <div id="sidenav-header-button">
            <div class="button-container">
              <button href="#" class="button" id="new-project">
                New
              </button>
            </div>
          </div>
        </div>
        <div>
          <div id="sidenav-projectlist-spinner-container">
            <div id="sidenav-projectlist-spinner" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
          </div>
          <div id="sidenav-projectlist-container" class="hidden">
            <ul id="sidenav-projectlist">
              <!-- TODO: handle too long name. truncate, use ellipsis. -->
              <li>
                <span class="tip" onmouseover="return vanillaTip.click(this);"  onmouseout="return vanillaTip.hide()">tooltip</span>
                <div class="popover top">
                  <div class="arrow"></div>
                  <div class="popover-content">
                    organization: Google
                    project_name: abc
                    project_id: gfjfj
                    project_number: jgkg
                    created on: jghgfg
                  </div>
                </div>
              </li>
              <li>
                <span class="tip" onmouseover="return vanillaTip.click(this);"  onmouseout="return vanillaTip.hide()">Theon56k</span>
                <div class="popover top">
                  <div class="arrow"></div>
                  <div class="popover-content">
                    ABCfkjfgkfgjkgjgf
                  </div>
                </div>
              </li>
              <li><a href="">goolf</a></li>
              <li><a href="">appengine</a></li>
              <li><a href="">hyperapp</a></li>
              <li><a href="">himalayan</a></li>
              <li><a href="">gradient</a></li>
              <li><a href="">zamboni</a></li>
              <li><a href="">parthenon</a></li>
              <li><a href="">atlas</a></li>
            </ul>
            <a href="" id="show-more">
              Show more
            </a>
          </div>
        </div>
      </div>
      <div id="content">
        <div id="orgline">organization: <span id="organization">google.com</span></div> 
        <div id="project">
          <span id="projectlabel">project:</span>
          <span id="projectname">my-first-project</span>
          <span id="projectid">( uplifted-scout-234505 )</span>
        </div>
      </div>
    </div>

    <div id="build-metadata">
      <h4>Build info</h4>
      <ul>
        <li>
            Build name: {{.BuildName}}
        </li>
        <li>
            Build time: {{.BuildTime}}
        </li>
      </ul>
    </div>
  </body>
</html>