body {
  font-family:  Geneva, sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#header {
  padding-left: 150px;
  padding-top: 20px;
  font-size: 14pt;
  border-bottom: 1px solid rgb(235, 235, 235);
}
#top-bar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
#top-bar-spacer {
  flex-grow: 99;
}
#top-bar-right {
  flex-grow: 1;
  padding-right: 20px;
  display: flex;
  align-items: center;
}

#second-bar {
  display: none;
} 
/*
#second-bar ul {
  padding-left: 0px;
  padding-top: 0px;
  margin: 0px;
  margin-top: 24px;
  padding-bottom: 0px;
}
#second-bar li {
  display:inline;
  padding-bottom: 12px;
  padding-right: 16px;
  padding-left: 16px;
  font-size: 13px;
  color: rgb(102, 102, 102);
  font-family: Roboto, Arial, sans-serif;
} */
#main {
  display: -webkit-flex;
  display: flex;
  flex: 1;
}
#sidenav.hidden {
  display: none;
}
#sidenav {
  order: 1;
  flex: 0 0 200px;
  overflow: hidden;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 35px;
  background: url("http://thecodeplayer.com/uploads/media/geometry.png");
}
#sidenav-header {
  display: flex;
  justify-content: center;
}
#sidenav-header-title {
  flex-grow: 99;
  align-items: center;
  display: flex;
  font-weight: bold;
}
#sidenav-header-button {
  flex: 1;
}
#sidenav-projectlist-spinner-container {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 40px;
}
#sidenav-projectlist-spinner-container.hidden {
  display: none;
}
#sidenav-projectlist-container.hidden {
  display: none;
}
#sidenav-projectlist {
  list-style-type: none;
  padding: 0px;
}
#sidenav-projectlist li {
  margin-top: 8px;
}
#sidenav-projectlist a {
  text-decoration: none;
  font-weight: bold;
}
#sidenav-projectlist a:hover {
  text-decoration: underline;
}
#sidenav-projectlist a:visited {
  color: rgb(43, 125, 233);
  text-decoration: underline;
}
#show-more {
  font-size: 14px;
  color: grey;
  text-decoration: none;
}
#show-more:hover {
  color: rgb(43, 125, 233);
}

#content {
  flex: 1;
  order: 2;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 35px;
  border-left: 1px solid rgb(235, 235, 235);
}
#project {
  font-size: 14pt;
}
#projectlabel {
  color: #828282;
}
#projectid {
  font-size: 10pt;
  color: #828282;
}
#orgline {
  font-size: 9pt;
  color: #828282;
}
#organization {
  color: black;
}

#login-button {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 23px;
  padding-right: 23px;
  font-size: 14px;
  background-color: rgb(43, 125, 233);
  color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  margin-left: 10px;
}
#login-button:hover {
  cursor: pointer;
  box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
}
.material-icons.topnav-button {
  color: rgb(95, 99, 104);
  padding: 8px;
}
.material-icons.topnav-button:hover {
  background-color: #ebecec;
  border-radius: 50%;
  cursor: pointer;
}

/* Begin spinner https://loading.io/css/ */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #39bda7;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* End Spinner */
/* Begin animated button */
.button-container {
  text-align: center;
}
.button {
  display: inline-block;
  padding: 6px 24px;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 100;
  background-color: #39bda7;
  color: white;
  cursor: pointer;
}
.button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: white;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
  border: 1px solid #39bda7;
}
.button:hover {
  color: #39bda7;
  border: 1px solid #39bda7;
}
.button:hover:before {
  top: -35%;
  background-color: white;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.button:hover:after {
  top: -45%;
  background-color: white;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
/* End animated button */

#build-metadata {
  font-size: 10pt;
  color: grey;
  padding-left: 10px;
  border-top: 1px solid rgb(235, 235, 235);
}

/* Tooltip */
.popover {
  position: absolute;
  display: none;
  width: 250px;
  background-color: white;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.popover .popover-content {
  padding: 10px;
}
.popover .arrow {
  border-style: solid;
  border-color: transparent;
  border-top-color: rgb(235, 235, 235);
  border-width: 11px;
  border-bottom-width: 0;
  bottom: -11px;
  color: #333;
  height: 0;
  margin-left: -11px;
  position: absolute;
  width: 0;
}
.popover .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-color: transparent;
  border-style: solid;
  border-width: 10px;
  border-bottom-width: 0;
  border-top-color: #ffe;
  position: absolute;
  display: block;
  width: 0;
  height: 0;
}
.tip {
  text-decoration: none;
  color: rgb(43, 125, 233);
  cursor: pointer;
}
.tip:hover {
  text-decoration: underline;
}
/* End tooltip */