worker_processes 1;

http {
  upstream localhost {
    # These are references to our backend containers, facilitated by
    # Compose, as defined in docker-compose.yml   
    server application:${PORT_APP};
 }

  server {
    listen ${PORT};
    
    location / {
      proxy_pass http://localhost;
    }
  }
}
events {
}


